.card {
  max-width: 800px;
  margin: 20px auto;
}

.form {
  width: 100%;
}

.full-width {
  width: 100%;
}

.group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  margin-bottom: 2rem;
  background-color: #ccbde6;
}
