<mat-toolbar color="primary">
  <button mat-icon-button class="icon">
    <mat-icon>directions_car</mat-icon>
  </button>
  <span
    >Vehicle Registration App by
    <a target="_blank" href="https://github.com/vikkrat">vikkrat</a>
  </span>
  <span class="spacer"></span>
  <button mat-icon-button class="icon favorite-icon">
    <mat-icon>help</mat-icon>
  </button>
  <button routerLink="/" mat-icon-button class="icon">
    <mat-icon>home</mat-icon>
  </button>
</mat-toolbar>

<div class="main-content">
  <div class="notification">
    <strong>*FYI:</strong> This application is fake and was not created for maintaining the registration register 
    of vehicles in accordance with the requirements of the law.<br>
    All data used in the application is fictitious, and any coincidence with real life or living people is accidental.
  </div>
  <router-outlet></router-outlet>
</div>
