.spacer {
  flex: 1 1 auto;
}

.main-content {
  margin: 20px 100px;
}

a {
  text-decoration: none;
  color: lightpink;
}

.notification {
  width: 70%;
  margin: 20px auto;
  padding: 20px;
  font-size: 11px;
  border-radius: 8px;
  color:rgb(92, 67, 3);
  background-color: rgb(250, 243, 225);
}
